* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}


/* BAHAN */
.break {
    clear: both;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
}

.content-heading {
    font-size: 50px;
    margin-bottom: 20px;
}

.content-slogan {
    font-size: 30px;
}

.content-paragraph {
    font-size: 17px;
    margin-top: 10px;
}

.flex {
    display: flex;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.gold-btn {
    border: 2px solid #FF9B00;
    color: #FF9B00;
    padding: 7px 12px;
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    font-weight: bold;
}

.gold-btn:hover {
    background: #FF9B00;
    color: white;
    transition: 0.4s;
}

.red-btn {
    border: 2px solid #C20100;
    color: #C20100;
    padding: 7px 12px;
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    font-weight: bold;
}

.red-btn:hover {
    background: #C20100;
    color: white;
    transition: 0.4s;
}

.txt-gold {
    color: #FF9B00
}

.txt-red {
    color: #C20100;
}

.txt-white {
    color: white
}