@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
@import url('https://unicons.iconscout.com/release/v3.0.6/css/line.css');

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'RocknRoll One', sans-serif;
    /* background: #F9F7F2; */
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #eeeae6;
}

::-webkit-scrollbar-thumb {
    background: #2d3436;
}


/* BAHAN */
.break {
    clear: both;
}

.mleft-1 {
    margin-left: 5px;
}

.mright-1 {
    margin-right: 5px;
}

.content-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.page-content-wrapper {
    width: 80%;
    margin: 0 auto;
}

.content-heading {
    font-size: 50px;
    margin-bottom: 5px;
}

.content-slogan {
    font-size: 25px;
}

.content-paragraph {
    font-size: 17px;
    margin-top: 30px;
}

.flex {
    display: flex;
}

.position-relative {
    position: relative;
}

.gold-btn {
    border: 2px solid #FF9B00;
    color: #FF9B00;
    padding: 7px 12px;
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    font-weight: bold;
}

.gold-btn:hover {
    background: #FF9B00;
    color: white;
    transition: 0.4s;
}

.red-btn {
    border: 2px solid #C20100;
    color: #C20100;
    padding: 7px 12px;
    display: inline-block;
    text-decoration: none;
    margin-top: 30px;
    font-weight: bold;
}

.red-btn:hover {
    background: #C20100;
    color: white;
    transition: 0.4s;
}

.txt-gold {
    color: #FF9B00
}

.txt-red {
    color: #C20100;
}

/* BANNER */
.banner {
    background: #F9F7F2;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.banner>div {
    width: 70%;
    padding: 0 10%;
    box-sizing: border-box;
}

.banner-heading {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.banner-paragraph {
    text-align: center;
}


@media screen and (max-width: 800px) {
    .content-wrapper {
        display: block;
        width: 90%;
        margin: 0 auto;
    }

    .page-content-wrapper {
        width: 90%;
        margin: 0 auto;
    }

    .content-heading {
        font-size: 25px;
        margin: 10px 0 5px 0;
    }

    .content-slogan {
        font-size: 20px;
    }

    .content-paragraph {
        font-size: 17px;
        margin-top: 20px;
    }
}