/* HOME BACKGROUND */
.home-background {
    background: url('../images/assets/home-background.png') 100% 100%;
    height: 100vh;
    background-size: 100% 100%;
}

/* INTRO */
.intro {
    background: url('../images/assets/introduction.png');
    background-size: cover;
    width: 100%;
    float: left;
}

.intro-text {
    width: 50%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

/* AGENTS */
.agents {
    width: 100%;
    float: left;
    padding: 100px 0;
}

.agent-image {
    width: 45%;
    float: left;
}

.agent-image>img {
    width: 100%;
}

.agent-text {
    width: 55%;
    float: left;
    padding: 35px 10%;
    box-sizing: border-box;
}

/* MAPS */
.maps {
    background: url('../images/maps/BFHL_chinatown.png') 100% 70%;
    background-repeat: no-repeat;
    background-size: cover;

}

.map-text {
    width: 45%;
    padding: 0 5%;
    box-sizing: border-box;
    height: 70vh;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

/* FOOTER */
.footer {
    background: black;
    width: 100%;
    float: left;
    padding: 50px 0;
}

.footer-column {
    width: 25%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

.footer-column>a>img {
    width: 100%;
}

.socmed {
    margin-top: 10px;
}

.socmed>a>img {
    width: 40px;
    margin-right: 5px;
}

.footer-column-link {
    width: 25%;
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.footer-link-heading {
    color: grey;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 17px;
}

.footer-column-link ul {
    list-style: none;
}

.footer-column-link ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 7px 0;
}

.footer-column-link ul li a:hover {
    transition: 0.4s;
    color: #C20100;
}

/* COPYRIGHT */
.copyright {
    background: black;
    color: white;
    font-weight: bold;
    padding: 20px 15px;
}

.copyright a {
    text-decoration: none;
}